.service {
  flex: 4;
  padding: 20px;
}

.serviceTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serviceAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.serviceTop {
  display: flex;
}

.serviceTopLeft,
.serviceTopRight {
  flex: 1;
}

.serviceTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.serviceInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.serviceInfoTop {
  display: flex;
  align-items: center;
}

.serviceName {
  font-weight: 600;
}

.serviceInfoBottom {
  margin-top: 10px;
}

.serviceInfoItem {
  width: "100%";
  display: flex;
  justify-content: left;
}

.serviceInfoValue {
  font-weight: 600;
}

.serviceBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.serviceForm {
  display: flex;
  justify-content: space-between;
}

.serviceFormLeft {
  display: flex;
  flex-direction: column;
}

.serviceFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.serviceFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.serviceFormLeft > select {
  margin-bottom: 10px;
}

.serviceUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.serviceFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.serviceUpload {
  display: flex;
  align-items: center;
}

.serviceButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(0, 114, 229);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
