.sellScreen {
    flex: 4;
    padding: 20px;
    overflow: auto;
  }
  
  .sellScreenTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .sellScreenTop {
    display: flex;
  }
  