.newService {
  flex: 4;
}

.addServiceForm {
  margin-top: 10px;
}

.addServiceItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addServiceItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addServiceItem > input {
  padding: 10px;
}

.addServiceItem > select {
  padding: 10px;
}

.addServiceButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 114, 229);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
