.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* TODO: Unificar todo el diseño comun antes de continuar */
.dataGrid {
  height: 89%;
}

.salesDataGrid {
  height: 23em;
}
