.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* TODO: Unificar todo el diseño comun antes de continuar */
.dataGrid {
  width: 100%;
  height: 629px;
}

.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 60px;
  left: auto;
  position: fixed;
};