.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* TODO: Unificar todo el diseño comun antes de continuar */
.dataGrid {
  width: 80vw;
  height: 82vh;
}

